.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
  padding: 0;
  margin: 0;
}

body{
  background: #485563
}

.search{
  display: flex;
  justify-content: center;
  margin: 0% 0 0 0%;
  padding: 10px;
  color: #29323ce3;
  border: 10px solid rgba(31, 27, 5, 0.14);
}

.input-wrapper label{
  padding: 1%;
}

.input-wrapper button{
  padding: 10%;
}

#submit{
  background-color: #29323ce3;
  color: #fff;
  border: 1px solid #29323ce3;
  font-size: 1em;
  border-radius: 2px;
  cursor: pointer;
  margin: 2%;
}
.result-wrapper{
    display: block;
    flex-direction: row;
    justify-content: center;
    margin: 2% 2% 2% 2%;
    width: auto;
  }

.result img{
  max-width: 75%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result{
  border: 2px solid   #29323c25;
  background-color: #29323c58;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 1%;
}

.result h3{
  margin: 4%;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}

.title{
  color: gold;
  background-color: #29323c70;
  padding: 0 5px 0 5px;
  margin: 2%;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

@media (min-width:512px)  { 
  .result-wrapper{
    display: flex;
    flex-direction: column;
    margin: 4% 2% 2% 4%;
    justify-content: center;;
}

  .result{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: auto;
    height: 80%;
    margin: 0 4% 4% 4%;
    border-radius: 1%;
  }

  .title{
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    height: 120px;;
    /* width: 33%; */
    max-width: 33%;
    flex: content;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 1%;
    overflow: hidden;

  }

  .coverimg-wrapper{
    position: relative;
    grid-area: "img";
    width: 200px;
    height: auto;
    max-width: 120px;
    overflow: hidden;;
    display: flex;
    justify-content: center;
  }

  .coverimg{
    flex: content;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .stars{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: .2em;
    font-weight: 700;
    color: #fff;
    align-content: right;
  }

  .genre-wrapper{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    /* position: relative */
  }
  .genre{
    font-family: 'Courier New', Courier, monospace;
    font-size: .5em;
    font-weight: 700;
    color: #fff;
    padding: 0 5px 0 5px;
    margin: 0;
    border-radius: 1%;
    background-color: #29323c70;
    border: 1px solid gold;
    /* position: relative; */
  }


  .banner-profile img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .banner-profile{
    display: inline-block;
    position: relative;
    flex-wrap: nowrap;
  
  }
  
  .banner-button{
    background-color: rgba(255, 255, 255, 0.809);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #29323ce3;
    border: 1px solid #29323ce3;
    font-size: .5em;
    border-radius: 2px;;
  
  }
}

.stars{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  position: relative;
}
.genre{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  padding: 0 5px 0 5px;
  margin: 0;
  border-radius: 1%;
  background-color: #29323c70;
  /* position: relative; */
}

.banner{
  background-color: #29323ce3;
  /* padding: 20px 10px 0px 10px; */
  display: flex;
  margin: 0% 0 0 0%;
  border: 4px solid rgba(31, 27, 5, 0.14);
  border-radius: 1%;
  transition: all .5s ease-in-out;
  justify-content: space-between;
}

.banner p{
  color: rgba(255, 255, 255, 0.809);
  font-size: .5em;
  font-style: italic;
  display: none;
}

.logo h1{
  text-align: center;
}

.banner-user{
  flex: end;
  padding: 1px;
}

.slogan{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  display: block;
}

.input{
  display: flex;
  margin: 20px;
  padding: 0;
  background: rgba(167, 159, 159, 0.345);
  text-align: left;
}

.input label{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  font-weight: 700;
}

.resultNum{
  color: rgb(227, 227, 228);
  font-size: 1em;
  font-weight: 700;
  background-color: #29323c25 ;
  }


.banner-profile img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.banner-profile{
  display: inline-block;
  position: relative;
  flex-wrap: nowrap;

}

.banner-button{
  background-color: rgba(255, 255, 255, 0.809);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #29323ce3;
  border: 1px solid #29323ce3;
  font-size: .5em;
  border-radius: 2px;;

}